*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Libre Franklin', sans-serif;
*/
body{
    background-color: rgb(151, 169, 221);
    font-family: 'DM Sans', sans-serif;
}

h1{
    padding: 20px;
}

.headerTitulo{
    display: flex;
    justify-content: start;
}

.headerTituloHijo{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: start;
}

nav{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav ul a{
    color:rgb(151, 169, 221);
    text-decoration: none;
    padding: 0.7rem;
    opacity: 0.7;
}

nav ul li{
    padding: 30px;
}

/*modificar paddin a menos*/
nav li a:hover{
    background-color: rgb(151, 169, 221);
    color: white;
    border-radius: 10px;
    opacity: 1;
}

.buscadorMenu{
    border-radius: 7.5px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(186, 186, 186);
}

.buscador{
    margin: 40px;
}

img{
    width: 400px;
    margin: 20px;
}

.autosIndex{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.autosIndexImg{
    width: 600px;
}

footer{
    background-color: white;
}

.footerTitle1{
    display: flex;
    justify-content: start;
}

.footerTitle{
    text-decoration: none;
    color: rgb(151, 169, 221);
}

.footerTitlePadre{
    padding: 20px;
    
    font-size: 2rem;
    display: flex;
}

.menuFooterPadre{
    list-style: none;
}

.menuFooterHijo{
    padding: 15px;
}

.menuFooter{
    padding: 5px;
    text-decoration: none;
    color: rgb(169, 119, 219);
    display: flex;
    align-items: center;
}

.footerMapa{
    display: flex;
    justify-content: space-around;
}

.encontrar{
    padding: 10px;
    color: rgb(169, 119, 219);
}

/*
Acá intenté hacer que los "botones" osea las imágenes de las redes sociales sean mas chicas a la hora de clickear pero no pude, necesitaría una class en las A HREF de cada imagen estoy casi seguro pero lo intenté y no hubo caso, si me podes dar una mano con esto sería genial, gracias :D.
*/

.redesSocialesFooter{
    width: 100%;
    height: 100px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.redesSociales{
    width: 30px;
    height: 30px;
}

.redesSociales2{
    width: 30px;
    height: 20px;
}

.derechos{
    padding: 20px;
}

.autosIndex{
    max-width: 100%;
}

.autosIndexImg{
    width: 250px;
    height: 175px;
    /*quizas un paddin al menos de 5 px funque bien*/
}

