@charset "UTF-8";
/*
#9b9de2
*/
/*

.botonFinancia{
                width: 170px;
                height: 50px;
                font-size: 1.5rem;
                text-decoration: none;
                background-color: $color5;
                border-radius: 10px;
                color:$color2;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    background-color:$color2;
                    color: $color5;
                    border-radius: 10px;
                }

bordes de botones

border: 2px solid $color2;

y hover

border: 2px solid $color5;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #4043a1;
  font-family: 'DM Sans', sans-serif;
  color: #d7dced; }

.header .headerTitulo {
  display: flex;
  justify-content: start; }
  .header .headerTitulo h1 {
    padding: 20px; }
    .header .headerTitulo h1 .headerTituloHijo {
      color: #120907;
      text-decoration: none;
      display: flex;
      justify-content: start; }

nav {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  background-color: #252034;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  z-index: 1; }
  nav ul {
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    nav ul li {
      padding: 30px; }
      nav ul li a {
        color: #d7dced;
        text-decoration: none;
        padding: 0.7rem;
        opacity: 0.7;
        transition: all 1s ease;
        font-weight: bold; }
        nav ul li a:hover {
          background-color: #4043a1;
          color: #e5e8f5;
          border-radius: 10px;
          opacity: 1; }

.buscadorMenu {
  border-radius: 7.5px;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  background-color: #bababa; }
  .buscadorMenu .buscador {
    margin: 40px; }

.autosIndex {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  z-index: 0; }
  .autosIndex .fondoAutosHome {
    background-color: #d7dced; }
    .autosIndex .fondoAutosHome .autosIndexImg {
      width: 250px;
      height: 175px;
      margin: 20px; }
    .autosIndex .fondoAutosHome .botonAutosHome {
      width: 200px;
      height: 40px;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: #252034;
      border-radius: 10px;
      color: #d7dced;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 3.5px solid #4043a1;
      transition: all 1s ease;
      font-weight: bolder;
      border-radius: 5px; }
      .autosIndex .fondoAutosHome .botonAutosHome:hover {
        width: 210px;
        background-color: #4043a1;
        color: #d7dced;
        border-radius: 10px;
        border: 3.5px solid #252034; }

.mainVendeTuAuto .venderCotizar {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .mainVendeTuAuto .venderCotizar .imgVender {
    display: flex;
    justify-content: center; }
    .mainVendeTuAuto .venderCotizar .imgVender .imgVenderCotizar {
      width: 100%;
      margin: 20px;
      display: flex;
      justify-content: center; }
  .mainVendeTuAuto .venderCotizar .contenedorTextCotizar {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainVendeTuAuto .venderCotizar .contenedorTextCotizar .titleCotizarC {
      max-width: 70% auto; }
      .mainVendeTuAuto .venderCotizar .contenedorTextCotizar .titleCotizarC .titleCotizar {
        font-size: 3rem; }
    .mainVendeTuAuto .venderCotizar .contenedorTextCotizar .textCotizar {
      max-width: 70% auto; }
      .mainVendeTuAuto .venderCotizar .contenedorTextCotizar .textCotizar .textCotizarPar {
        font-size: 1.5rem; }

.mainVendeTuAuto .textBotonCotizar {
  margin: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .mainVendeTuAuto .textBotonCotizar .vendeUnSoloClick {
    font-size: 1.5rem; }
  .mainVendeTuAuto .textBotonCotizar .unorderCotiza {
    list-style: none; }
    .mainVendeTuAuto .textBotonCotizar .unorderCotiza .listCotizaA {
      width: 170px;
      height: 50px;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: #d7dced;
      border-radius: 10px;
      color: #252034;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 2px solid #252034;
      transition: all 1s ease;
      font-weight: bolder; }
      .mainVendeTuAuto .textBotonCotizar .unorderCotiza .listCotizaA:hover {
        background-color: #252034;
        color: #d7dced;
        border-radius: 10px;
        border: 2px solid #d7dced; }

/* podría hacer un MAP creo que era, el que se usaba con import que era una variante pero con muchos items, así:
    width: 170px;
    height: 50px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    color:rgb(151, 169, 221);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
*/
/* fin de Main vendetuauto */
/* comienzo de Main financiatuauto */
.mainFinancia .FinanciaSesenta {
  width: 100%;
  margin: 100px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainFinancia .FinanciaSesenta .FinanciaSesentaCuotasTitle {
    width: 80%;
    font-size: 3rem;
    display: flex;
    justify-content: center; }
  .mainFinancia .FinanciaSesenta .FinanciaSesentaCuotasP {
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; }

.mainFinancia .unorderFinanciaP {
  margin: 70px 0px 70px 0px;
  display: flex;
  justify-content: center; }
  .mainFinancia .unorderFinanciaP .unorderFinancia {
    list-style: none; }
    .mainFinancia .unorderFinanciaP .unorderFinancia .botonFinancia {
      width: 170px;
      height: 50px;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: #d7dced;
      border-radius: 10px;
      color: #252034;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 2px solid #252034;
      transition: all 1s ease;
      font-weight: bolder; }
      .mainFinancia .unorderFinanciaP .unorderFinancia .botonFinancia:hover {
        background-color: #252034;
        color: #d7dced;
        border-radius: 10px;
        border: 2px solid #d7dced; }

.mainFinancia .imgFinanciaP {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center; }
  .mainFinancia .imgFinanciaP .imgFinancia {
    width: 80%;
    display: flex;
    justify-content: center; }

/* fin de Main financiatuauto */
/* comienzo de Main contrataunservice */
.mainService .imgServiceP {
  width: 100%;
  margin: 100px 0px 100px 0px;
  display: flex;
  justify-content: center; }
  .mainService .imgServiceP .imgService {
    width: 80%;
    display: flex;
    justify-content: center; }

.mainService .serviceTextosYTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainService .serviceTextosYTitle .serviceTyTitle {
    width: 60%;
    display: flex;
    justify-content: center; }
    .mainService .serviceTextosYTitle .serviceTyTitle .serviceTitle {
      margin: 20px;
      font-size: 3rem; }
    .mainService .serviceTextosYTitle .serviceTyTitle .serviceTexto {
      margin: 20px;
      font-size: 1.2rem; }

.mainService .unorderServiceP {
  margin: 70px 0px 70px 0px;
  display: flex;
  justify-content: center; }
  .mainService .unorderServiceP .unorderService {
    list-style: none; }
    .mainService .unorderServiceP .unorderService .botonService {
      width: 170px;
      height: 50px;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: #d7dced;
      border-radius: 10px;
      color: #252034;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 2px solid #252034;
      transition: all 1s ease;
      font-weight: bolder; }
      .mainService .unorderServiceP .unorderService .botonService:hover {
        background-color: #252034;
        color: #d7dced;
        border-radius: 10px;
        border: 2px solid #d7dced; }

/* fin de Main contrataunservice */
/* comienzo de Main contacto */
.mainContacto .imgContactoP {
  width: 100%;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center; }
  .mainContacto .imgContactoP .imgContacto {
    width: 90%; }

.mainContacto .contactoTextosYTitle {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .mainContacto .contactoTextosYTitle .contactoTitleP {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainContacto .contactoTextosYTitle .contactoTitleP .contactoTitle {
      margin: 30px; }
    .mainContacto .contactoTextosYTitle .contactoTitleP .contactoTextos {
      width: 80%;
      display: flex;
      justify-content: center; }
  .mainContacto .contactoTextosYTitle .unorderContactoP {
    display: flex;
    justify-content: center; }
    .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto {
      list-style: none; }
      .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContacto {
        margin: 15px; }
        .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContacto .botonesContactoA {
          width: 250px;
          height: 50px;
          font-size: 1.5rem;
          text-decoration: none;
          background-color: #d7dced;
          border-radius: 10px;
          color: #252034;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          border: 2px solid #252034;
          transition: all 1s ease;
          font-weight: bolder; }
          .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContacto .botonesContactoA:hover {
            background-color: #252034;
            color: #d7dced;
            border-radius: 10px;
            border: 2px solid #d7dced; }
      .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContactoDos {
        margin: 15px; }
        .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContactoDos .botonesContactoA {
          width: 250px;
          height: 50px;
          font-size: 1.5rem;
          text-decoration: none;
          background-color: #d7dced;
          border-radius: 10px;
          color: #252034;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          border: 2px solid #252034;
          transition: all 1s ease;
          font-weight: bolder; }
          .mainContacto .contactoTextosYTitle .unorderContactoP .unorderContacto .botonesContactoDos .botonesContactoA:hover {
            background-color: #252034;
            color: #d7dced;
            border-radius: 10px;
            border: 2px solid #d7dced; }

.mainContacto .contactoFormP {
  width: 100%;
  display: flex;
  justify-content: center; }
  .mainContacto .contactoFormP .contactoForm {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainContacto .contactoFormP .contactoForm .contactoTitleF {
      margin-bottom: 50px; }
  .mainContacto .contactoFormP .formularioContacto .formC {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainContacto .contactoFormP .formularioContacto .formC input {
      width: 300px;
      padding: 10px;
      border-radius: 15px;
      background-color: #d7dced;
      border: 2px solid #252034;
      margin-bottom: 30px;
      outline: none;
      color: #252034;
      font-weight: bolder; }
    .mainContacto .contactoFormP .formularioContacto .formC .provincias {
      width: 300px;
      padding: 10px;
      border-radius: 15px;
      background-color: #d7dced;
      border: 2px solid #252034;
      margin-bottom: 30px;
      outline: none;
      color: #4043a1;
      font-weight: bolder; }
      .mainContacto .contactoFormP .formularioContacto .formC .provincias .provinciasUnidas {
        font-weight: bolder; }
    .mainContacto .contactoFormP .formularioContacto .formC .textoFormC {
      width: 300px;
      padding: 10px;
      border-radius: 15px;
      background-color: #d7dced;
      border: 2px solid #252034;
      margin-bottom: 30px;
      outline: none;
      color: #252034;
      font-weight: bolder; }
    .mainContacto .contactoFormP .formularioContacto .formC .enviarBorrarC {
      width: 250px;
      height: 50px;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: #d7dced;
      border-radius: 10px;
      color: #252034;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0px;
      border: 2px solid #252034;
      transition: all 1s ease; }
      .mainContacto .contactoFormP .formularioContacto .formC .enviarBorrarC:hover {
        background-color: #252034;
        color: #d7dced;
        border-radius: 10px;
        border: 2px solid #d7dced; }

/* este ::placeholder realmente no sé donde ponerlo, si me podrías decir te lo agradecería mucho */
::placeholder {
  color: #4043a1; }

/* fin de Main contacto */
footer {
  background-color: #d7dced; }
  footer .footerTitle1 {
    display: flex;
    justify-content: start; }
    footer .footerTitle1 .footerTitlePadre {
      padding: 20px;
      font-size: 2rem;
      display: flex; }
      footer .footerTitle1 .footerTitlePadre .footerTitle {
        text-decoration: none;
        color: #120907; }
  footer .footerMapa .menuFooterPadre {
    list-style: none; }
    footer .footerMapa .menuFooterPadre .menuFooterHijo {
      padding: 15px; }
      footer .footerMapa .menuFooterPadre .menuFooterHijo .menuFooter {
        padding: 5px;
        text-decoration: none;
        color: #4043a1;
        font-weight: bold;
        display: flex;
        align-items: center; }
  footer .footerMapa .encontrar {
    padding: 10px;
    color: #4043a1;
    font-weight: bold; }
  footer .footerMapa .mapaDelFooter {
    width: 400px;
    height: 300px; }
  footer .redesSocialesFooter {
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .redesSocialesFooter .redesSociales {
      margin: 10px;
      width: 30px;
      height: 30px; }
    footer .redesSocialesFooter .redesSociales2 {
      margin: 10px;
      width: 30px;
      height: 20px; }
  footer .derechos {
    padding: 20px; }
    footer .derechos .derechosTitle {
      color: #120907; }

/* Comienzo de mediaqueries
smart phones 320-480 | 480-320
tablets 768-1024 | 1024-768
desktop 1680-1050
*/
@media only screen and (max-width: 1098px) {
  .titleCotizar {
    font-size: 2rem; }
  .textCotizarPar {
    font-size: 1rem; }
  .vendeUnSoloClick {
    font-size: 1rem; }
  .serviceTitle {
    font-size: 2rem; }
  .serviceTexto {
    font-size: 1.2rem; } }

@media only screen and (max-width: 1024px) {
  .venderCotizar {
    flex-direction: column; } }

@media only screen and (max-width: 991px) {
  nav {
    background-color: transparent; }
    nav .botonHamburguesa {
      background-color: #d7dced;
      border-color: #d7dced;
      margin-left: auto;
      border: 2px solid #252034; }
      nav .botonHamburguesa .botonHamburguesaInterior {
        background-color: #d7dced; }
    nav .navHamburguesa {
      background-color: #252034;
      border-radius: 3%;
      border: 2px solid #d7dced; } }

@media only screen and (min-width: 769px) {
  .footerMapa {
    display: flex;
    justify-content: space-around; } }

@media only screen and (max-width: 768px) {
  .footerMapa {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 600px) {
  .footerMapa .MapaYTexto .mapaDelFooter {
    width: 350px;
    height: 250px; }
  .derechosTitle {
    font-size: 1rem; } }
