// comienzo del Body

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color4;
    font-family: 'DM Sans', sans-serif;
    color: $color5;
}

// fin del Body