$color1: #120907;
$color2: #252034;
$color3: #5c5987;
$color4: #4043a1;
$color5: #d7dced;
$color6: #97a9dd;
$color7: #e5e8f5;

/*
#9b9de2
*/

/*

.botonFinancia{
                width: 170px;
                height: 50px;
                font-size: 1.5rem;
                text-decoration: none;
                background-color: $color5;
                border-radius: 10px;
                color:$color2;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    background-color:$color2;
                    color: $color5;
                    border-radius: 10px;
                }

bordes de botones

border: 2px solid $color2;

y hover

border: 2px solid $color5;

*/